.feedback-home {
    margin-top: 24px;
    margin-bottom: 45px;

    .container {
        position: relative;

    }

    &__container {
        background: #EAEEFA;
        border-radius: 64px;
        padding-top: 95px;
        padding-bottom: 95px;

        @media (max-width:$smallTablet-max) {
            border-radius: 0;
            background: transparent;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &__title {
        max-width: 622px;
        margin: 0 auto;
        text-align: center;

        @media (max-width:$smallTablet-max) {
            max-width: none;
        }
    }

    &__image {
        position: absolute;
        bottom: -45px;
        left: -50px;
        z-index: 0;

        @media (max-width:$tablet-max) {
            display: none;
        }
    }

    @media (max-width:$smallTablet-max) {
        background: #EAEEFA;
        margin-bottom: 24px;
        border-radius: 24px;
    }
}
