<section class="hero-info">
    <div class="container">
        <h1 class="hero-info__title text-32 text-center">
            Раскрытие информации
        </h1>
        <div class="hero-info__body">
            <div data-spollers data-one-spoller class="spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <span>Инструкция по эксплуатации МКД</span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__body">
                        <a href="#" title="Инструкция по эксплуатации МКД">
                            Инструкция по эксплуатации МКД
                        </a>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <span>Регламент пропускного режима</span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__body">
                        <a href="#" title="Регламент пропускного режима">
                            Регламент пропускного режима
                        </a>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <span>ОГРН</span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__body">
                        <a href="#" title="ОГРН">
                            ОГРН
                        </a>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <span>Карточка ООО "УК "М-ПРОПЕРТИ"</span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__body">
                        <a href="#" title='Карточка ООО "УК "М-ПРОПЕРТИ"'>
                            Карточка ООО "УК "М-ПРОПЕРТИ"
                        </a>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <span>Инструкция по эксплуатации машиномест</span>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>
                    <div class="spollers__body">
                        <a href="#" title="Инструкция по эксплуатации машиномест">
                            Инструкция по эксплуатации машиномест
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
