.feedback {
    margin-top: 24px;
    margin-bottom: 45px;

    .container {
        position: relative;

    }

    &__container {
        background: #EAEEFA;
        border-radius: 64px;
        padding-top: 95px;
        padding-bottom: 95px;

        @media (max-width:$smallTablet-max) {
            border-radius: 0;
            background: transparent;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &__title {
        max-width: 622px;
        margin: 0 auto;
        text-align: center;

        @media (max-width:$smallTablet-max) {
            max-width: none;
        }
    }

    &__image {
        position: absolute;
        bottom: -45px;
        left: -50px;
        z-index: 0;

        @media (max-width:$tablet-max) {
            display: none;
        }
    }

    @media (max-width:$smallTablet-max) {
        background: #EAEEFA;
        margin-bottom: 24px;
        border-radius: 24px;
    }
}

.feedback-form {
    position: relative;
    z-index: 1;
    max-width: 550px;
    margin: 65px auto 0;

    display: flex;
    flex-direction: column;

    &__label {
        &:not(:first-child) {
            margin-top: 24px;

            @media (max-width:$smallTablet-max) {
                margin-top: 16px;
            }
        }
    }

    &__input {}

    &__textarea {}

    &__btn {
        margin-top: 12px;

        @media (min-width:$smallTablet-min) {
            border-radius: 16px;
            font-size: 16px;
            height: 61px;
        }
    }

    &__warning {
        margin-top: 8px;
        color: #748CD7;
        font-size: 12px;
        line-height: math.div(16, 12);
        font-weight: 500;
    }

    @media (max-width:$smallTablet-max) {
        max-width: none;
        width: 100%;
        margin: 40px 0 0;
    }
}
