.header {
    margin-top: 20px;

    &__container {}

    &__inner {
        padding: 0 30px 0 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: #EEF4FA;
        box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(58px);

        border-radius: 18px;

        height: 72px;

        @media (max-width:$tablet-max) {
            background-color: transparent;
            backdrop-filter: blur(58px);
            border-radius: 0;
            padding: 0;
            height: 60px;
        }

        @media (max-width:$smallTablet-max) {
            height: 45px;
        }
    }

    &__logo {
        font-size: 18px;
        line-height: math.div(17, 18);
        font-weight: 700;
        color: #212121;
        white-space: nowrap;

        @media (max-width:$mobile-max) {
            font-size: 16px;
        }
    }

    &__nav {
        margin-right: 20px;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 56px;

        @media (max-width:$desktop) {
            gap: 25px;
        }

        @media (max-width:$smallTablet-max) {
            .header__btn {
                display: none;
            }
        }
    }

    &__tel {
        display: flex;
        align-items: center;

        svg {
            --size: 20px;

            width: var(--size);
            height: var(--size);
            fill: var(--blue);
        }

        span {
            margin-left: 11px;
            color: var(--dark);
            font-size: 16px;
            line-height: math.div(22, 16);
            transition: color $transitionSpeed $transitionFunction;
            font-weight: 500;
        }

        &:hover {
            span {
                color: var(--blue);
            }
        }

        @media (max-width:$tablet-max) {
            svg {
                --size: 16px;
            }

            span {
                margin-left: 5px;
                font-size: 14px;
            }
        }

        @media (max-width:$smallTablet-max) {
            svg {
                --size: 14px;
            }

            span {
                font-size: 12px;
            }
        }
    }

    &__btn {
        @media (max-width:$smallTablet-max) {
            margin: auto auto 0;
            width: 85%;
            flex: 0 0 auto;
        }
    }

    &__burger {
        @media (min-width:$tablet-min) {
            display: none;
        }
    }

    @media (max-width:$tablet-max) {
        margin-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--white);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        z-index: var(--index-5);
    }
}
