:root {
  --dark: #212121;
  --white: #fff;
  --blue: #3757ff;
  --melrose: #9eb3ff;
  --index-1: 1;
  --index-2: 2;
  --index-3: 3;
  --index-4: 4;
  --index-5: 5;
  --index-max: 10;
}

/* stylelint-disable */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeSemibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
  font-size: inherit;
}

.page {
  height: 100%;
  font-family: "Manrope", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
  line-height: 100%;
  background-color: #fff;
  color: #000;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.site-container {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.dis-scroll {
  overflow: hidden;
  height: 100vh;
}

.is-hidden {
  display: none !important;
}

.page--ios .dis-scroll {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1326px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.btn-reset:focus {
  outline: none;
}

.btn {
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
  height: 48px;
  padding: 0 28px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5714285714;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .btn-primary {
    height: 42px;
    padding: 0 24px;
    font-size: 12px;
  }
}

.burger {
  --burger-width: 26px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  z-index: 12;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--blue);
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 435ms ease-in-out;
  -o-transition: 435ms ease-in-out;
  transition: 435ms ease-in-out;
}
.burger span:nth-child(1) {
  top: 0;
}
.burger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.burger span:nth-child(3) {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  top: 100%;
}
.burger--active span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg) translateY(-50%);
  -ms-transform: rotate(135deg) translateY(-50%);
  transform: rotate(135deg) translateY(-50%);
}
.burger--active span:nth-child(2) {
  opacity: 0;
  left: 40px;
}
.burger--active span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  -ms-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

.nav {
  overflow-x: auto;
  overflow-y: hidden;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.nav__link {
  color: var(--dark);
  font-size: 14px;
  line-height: 1.4285714286;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav__link:hover {
  color: var(--blue);
}
@media (max-width: 1024px) {
  .nav {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0 20px;
    position: absolute;
    top: 100%;
    left: -16px;
    z-index: var(--index-4);
    width: calc(100% + 32px);
    height: 100%;
    min-height: calc(var(--vh) - var(--header-height));
    -webkit-box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
    margin: 0;
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .nav._active {
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.header {
  margin-top: 20px;
}
.header__inner {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #EEF4FA;
  -webkit-box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.04);
  box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(58px);
  backdrop-filter: blur(58px);
  border-radius: 18px;
  height: 72px;
}
@media (max-width: 1024px) {
  .header__inner {
    background-color: transparent;
    -webkit-backdrop-filter: blur(58px);
    backdrop-filter: blur(58px);
    border-radius: 0;
    padding: 0;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .header__inner {
    height: 45px;
  }
}
@media (max-width: 576px) {
  .header__logo {
    width: 100px;
  }
}
.header__nav {
  margin-right: 20px;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 56px;
}
@media (max-width: 1326px) {
  .header__actions {
    gap: 25px;
  }
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__tel svg {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  fill: var(--blue);
}
.header__tel span {
  margin-left: 11px;
  color: var(--dark);
  font-size: 16px;
  line-height: 1.375;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-weight: 500;
}
.header__tel:hover span {
  color: var(--blue);
}
@media (max-width: 1024px) {
  .header__tel svg {
    --size: 16px;
  }
  .header__tel span {
    margin-left: 5px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header__tel svg {
    --size: 14px;
  }
  .header__tel span {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .header__btn {
    margin: auto auto 0;
    width: 85%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
@media (min-width: 1025px) {
  .header__burger {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--index-5);
  }
}

.footer {
  background: #2D2E40;
  color: var(--white);
  border-radius: 64px 64px 0px 0px;
  padding: 80px 40px 55px;
  font-size: 16px;
  line-height: 1.375;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 82.875em) {
  .footer__left {
    gap: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .footer__left {
    gap: calc(2.5rem + 2.1875 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .footer__left {
    gap: 2.5rem;
  }
}
@media (max-width: 768px) {
  .footer__left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[3];
  grid-template-columns: repeat(3, 150px);
  grid-row-gap: 20px;
}
@media (min-width: 82.875em) {
  .footer__right {
    grid-column-gap: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .footer__right {
    grid-column-gap: calc(2.5rem + 2 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .footer__right {
    grid-column-gap: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .footer__right {
    margin-top: 50px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
  }
}
@media (max-width: 768px) {
  .footer__right {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__bottom {
  margin-top: 56px;
  padding: 24.5px 0;
  border-top: 1px solid rgba(158, 179, 255, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .footer__bottom a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1024px) {
  .footer__bottom {
    margin-top: 30px;
    padding: 30px 0 30px;
  }
}
@media (max-width: 768px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding: 50px 0 0;
    border-radius: 24px 24px 0 0;
  }
}
@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
}

.footer-info__title {
  margin-bottom: 20px;
}
.footer-info__item {
  font-weight: 400;
}
.footer-info__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 1025px) {
  .footer-info__link:hover {
    text-decoration: underline;
  }
}

.footer-contacts__title {
  margin-bottom: 8px;
}
.footer-contacts__item {
  color: var(--melrose);
}
@media (min-width: 1025px) {
  .footer-contacts__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 768px) {
  .footer-contacts--address {
    grid-column: 1/-1;
  }
}

.footer-pos {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/*# sourceMappingURL=main.css.map */