<section class="news">
    <div class="container">
        <h1 class="news__title text-32 text-center">Новости</h1>
        <div class="news__content">
            <div class="news__items">
                <article class="news__item news-card">
                    <a href="#" class="news-card__wrapper">
                        <h3 class="news-card__title">
                            Режим работы УК в праздничные дни
                        </h3>
                        <p class="news-card__descr">
                            Сообщение о проведении внеочередного собрания собственников помещений МКД по адресу:
                            Московская область, г. Реутов, пр-кт. Мира, д. 22Уважаемый соб
                            Сообщение о проведении внеочередного собрания собственников помещений МКД по адресу:
                            Московская область, г. Реутов, пр-кт. Мира, д. 22Уважаемый соб
                        </p>
                        <div class="news-card__bottom">
                            <time class="news-card__time" datetime="2022-12-13">13.12.2022</time>
                        </div>
                    </a>
                </article>
                <article class="news__item news-card">
                    <a href="#" class="news-card__wrapper">
                        <h3 class="news-card__title">
                            Сообщение о проведение собрания собственников собственников собственников собственников
                            собственников
                        </h3>
                        <p class="news-card__descr">
                            Уважаемые жители!В предстоящие праздники напоминаем вам о нерабочих днях офиса УК.
                            Выходные дни: с 29 апреля по 1 мая включительно и с 6 по 9 ...
                        </p>
                        <div class="news-card__bottom">
                            <time class="news-card__time" datetime="2022-12-13">13.12.2022</time>
                        </div>
                    </a>
                </article>
                <article class="news__item news-card">
                    <a href="#" class="news-card__wrapper">
                        <h3 class="news-card__title">
                            Режим работы УК в праздничные дни
                        </h3>
                        <p class="news-card__descr">
                            Сообщение о проведении внеочередного собрания собственников помещений МКД по адресу:
                            Московская область, г. Реутов, пр-кт. Мира, д. 22Уважаемый соб
                            Сообщение о проведении внеочередного собрания собственников помещений МКД по адресу:
                            Московская область, г. Реутов, пр-кт. Мира, д. 22Уважаемый соб
                        </p>
                        <div class="news-card__bottom">
                            <time class="news-card__time" datetime="2022-12-13">13.12.2022</time>
                        </div>
                    </a>
                </article>
                <article class="news__item news-card">
                    <a href="#" class="news-card__wrapper">
                        <h3 class="news-card__title">
                            Сообщение о проведение собрания собственников собственников собственников собственников
                            собственников
                        </h3>
                        <p class="news-card__descr">
                            Уважаемые жители!В предстоящие праздники напоминаем вам о нерабочих днях офиса УК.
                            Выходные дни: с 29 апреля по 1 мая включительно и с 6 по 9 ...
                        </p>
                        <div class="news-card__bottom">
                            <time class="news-card__time" datetime="2022-12-13">13.12.2022</time>
                        </div>
                    </a>
                </article>
            </div>
            <div class="news__bottom">
                <button type="button" class="btn btn-reset btn-primary news__more">
                    Ещё новости
                </button>
                <div class="news__pagination pagination">
                    <a href="#" class="pagination__arrow pagination__arrow--prev" aria-hidden="true" tabindex="-1"
                        disabled>
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-left"></use>
                        </svg>
                    </a>
                    <ul class="pagination__list list-reset">
                        <li class="pagination__item">
                            <a href="#">
                                1
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="pagination__arrow pagination__arrow--next" aria-label="Следующая страница">
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow-left"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
