<section class="news-page">
    <div class="container">
        <h1 class="news-page__title text-32">Режим работы УК в праздничные дни</h1>
        <time class="news-page__time" datetime="2023-04-07">27.04.2023</time>
        <div class="news-page__content">
            <p>
                <img src="http://cms.prodom.ai/uploads/news/4/e/4e07148d7254343e3d9192140aa4c021.webp">
            </p>
            <p>Уважаемые жители!</p>
            <p>В предстоящие праздники напоминаем вам о нерабочих днях офиса УК.</p>
            <p>
                <strong>Выходные дни: с 29 апреля по 1 мая включительно и с 6 по 9 мая включительно.</strong>
            </p>
            <p>
                <strong>Дежурная аварийная служба работает круглосуточно.</strong>
                Связь по номеру +74955131375
            </p>
            <p>
                ❗️ Также напоминаем, что в выходные и праздничные дни запрещено шуметь и проводить ремонтные работы.
            </p>
            <p>
                Желаем всем хороших выходных!
            </p>
            <div>
                <span>
                    Личные кабинеты уже готовы, вам остается:
                </span>
                <ol>
                    <li>Установить приложение</li>
                    <li>Ввести свой номер телефона и подтвердить его </li>
                    <li>Выбрать свою УК из списка - УК «М-Проперти»</li>
                    <li>Прикрепить лицевой счет</li>
                </ol>
            </div>
            <a href="#" title="Инструкция по использованию «Продом»">Инструкция по использованию «Продом»</a>
        </div>
    </div>
</section>
