<section class="hero-objects">
    <div class="container">
        <h1 class="hero-objects__title text-32 text-center">
            Объекты
        </h1>
        <div class="hero-objects__body">
            <a href="#" class="hero-objects__item">
                <div>
                    <svg>
                        <use xlink:href="img/sprite.svg#object"></use>
                    </svg>
                    <span>
                        ЖК Реутов
                    </span>
                </div>
                <span>
                    Проспект мира 22
                </span>
            </a>
        </div>
    </div>
</section>
