<section class="hero-about">
    <div class="container">
        <h1 class="hero-about__title text-32 text-center">О нас</h1>
        <div class="hero-about__content">
            <p>«УК «М-Проперти» является частью группы компаний УК1.</p>
            <p>«УК «М-Проперти» является частью группы компаний УК1.</p>
            <p>
                <strong>Управляющая компания №1</strong> - гарант предоставления полного спектра высококачественных
                услуг в сфере управления недвижимостью, инженерной и социальной инфраструктуры и
                корпоративного питания.
            </p>
            <p>УК1 обслуживает более <strong>700 000 кв. м:</strong></p>
            <ul>
                <li><strong>3</strong> Бизнес-центра и офисных здания класса «А» и «А+». Среди них Бизнес-центр
                    Башня в IQ-квартале в Москва-Сити.</li>
                <li><strong>104</strong> объектов недвижимости класса «В+»</li>
                <li><strong>28</strong> резиденции премиум класса</li>
                <li><strong>3</strong> комплекса апартаментов бизнес-класса</li>
                <li><strong>2</strong> санатория, детские сады, школы, торговый дом</li>
            </ul>
        </div>
    </div>
</section>
