.object-news {
    background-color: #f9f9fb;
    border-radius: 24px;
    padding: 72px 109px;

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 48px;

        @media (max-width:$tablet-max) {
            grid-column-gap: 16px;
        }

        @media (max-width:$smallTablet-max) {
            grid-row-gap: 16px;
            grid-template-columns: 1fr;
        }
    }

    &__bottom {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (max-width:$tablet-max) {
            margin-top: 24px;
            flex-direction: column;
        }
    }

    &__more {
        height: 48px;
        padding: 0 28px;

        @media (max-width:$tablet-max) {
            width: 100%;
        }
    }

    &__pagination {
        @media (min-width:$tablet-min) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        @media (max-width:$tablet-max) {
            margin-top: 16px;
        }
    }

    @media (max-width:$tablet-max) {
        border-radius: 16px;
        padding: 24px;
    }

    @media (max-width:$smallTablet-max) {
        padding: 16px;
        border-radius: 12px;
    }
}