.object-info {
    padding: 70px 110px;
    background-color: #F9F9FB;
    border-radius: 24px;

    @media (max-width:$tablet-max) {
        padding: 24px 24px 40px;
        border-radius: 16px;
    }
}