<section class="hero-contacts">
    <div class="container">
        <h1 class="hero-contacts__title text-32 text-center">
            Есть вопрос? <span>Свяжитесь с нами</span> любым
            удобным способом
        </h1>
        <div class="hero-contacts__body">
            <a href="tel:+74994447085" class="hero-contacts__item hero-contacts-item hero-contacts-item--tel">
                <div class="hero-contacts-item__subtitle">
                    <svg>
                        <use xlink:href="img/sprite.svg#phone-stroke"></use>
                    </svg>
                    <span>Телефон</span>
                </div>
                <div class="hero-contacts-item__content">
                    +7 499 444-70-85
                </div>
            </a>
            <a href="mailto:uk@uk1.ru" class="hero-contacts__item hero-contacts-item hero-contacts-item--email">
                <div class="hero-contacts-item__subtitle">
                    <svg>
                        <use xlink:href="img/sprite.svg#directbox-notif"></use>
                    </svg>
                    <span>E-mail</span>
                </div>
                <div class="hero-contacts-item__content">
                    uk@uk1.ru
                </div>
            </a>
            <div class="hero-contacts__item hero-contacts-item hero-contacts-item--hour">
                <div class="hero-contacts-item__subtitle">
                    <svg>
                        <use xlink:href="img/sprite.svg#clock"></use>
                    </svg>
                    <span>Часы работы офиса</span>
                </div>
                <div class="hero-contacts-item__content">
                    <div class="hero-contacts-item__hours">
                        <div class="hero-contacts-item__hour">
                            <span>Пн-Чт</span>
                            <span>09:00-18:00</span>
                        </div>
                        <div class="hero-contacts-item__hour">
                            <span>Пт</span>
                            <span>09:00-16:45</span>
                        </div>
                        <div class="hero-contacts-item__hour">
                            <span>Сб, вс</span>
                            <span>выходные дни</span>
                        </div>
                    </div>
                    <div class="hero-contacts-item__tooltip tooltip-visible">
                        <svg class="tooltip-visible__icon">
                            <use xlink:href="img/sprite.svg#warning"></use>
                        </svg>
                        <span class="tooltip-visible__text">
                            Перед посещением офиса рекомендуем звонить
                        </span>
                    </div>
                </div>
            </div>
            <a href="#" class="hero-contacts__item hero-contacts-item hero-contacts-item--location">
                <div class="hero-contacts-item__subtitle">
                    <svg>
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    <span>Адрес</span>
                </div>
                <p>
                    г. Москва, <br>
                    ул. Селезневская, дом 19/2
                </p>
                <div class="hero-contacts-item__content">
                    <div class="hero-contacts-item__location">
                        <picture>
                            <source srcset="./img/map-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/map-2.jpg" width="135" height="102" alt="Карта">
                        </picture>
                        <span>Как добраться?</span>
                    </div>
                </div>
            </a>
            <button type="button" data-popup-path="request" data-popup-speed="500" data-popup-animation="animation-custom-y"
                class="btn btn-reset hero-contacts__btn">
                <svg>
                    <use xlink:href="img/sprite.svg#edit"></use>
                </svg>
                <span>Оставить обращение</span>
            </button>
        </div>
        <div class="hero-contacts__props contacts-props">
            <div class="contacts-props__subtitle">
                <svg>
                    <use xlink:href="img/sprite.svg#receipt-text"></use>
                </svg>
                <span>
                    Реквизиты организации
                </span>
            </div>
            <div class="contacts-props__body">
                <div class="contacts-props__left">
                    <div class="contacts-props__row">
                        <span>ИНН</span>
                        <span>7707413245</span>
                    </div>
                    <div class="contacts-props__row">
                        <span>КПП</span>
                        <span>770701001</span>
                    </div>
                    <div class="contacts-props__row">
                        <span>Банк</span>
                        <span>ПАО СБЕРБАНК</span>
                    </div>
                    <div class="contacts-props__row">
                        <span>Расчётный счет</span>
                        <span>40702810638000232153</span>
                    </div>
                    <div class="contacts-props__row">
                        <span>БИК</span>
                        <span>044525225</span>
                    </div>
                    <div class="contacts-props__row">
                        <span>Кор. счет</span>
                        <span>30101810400000000225</span>
                    </div>
                </div>
                <div class="contacts-props__right">
                    <span>Руководитель:</span>
                    <span>Дубинкина Инна Егоровна</span>
                </div>
            </div>
        </div>
    </div>
</section>
