<section class="about">
    <div class="about__container container">
        <ul class="about__top about-top list-reset">
            <li class="about-top__item about-top__item--1 info-card">
                <a href="#" class="info-card__wrapper">
                    <div class="info-card__icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#lamp"></use>
                        </svg>
                    </div>
                    <p class="info-card__descr">
                        Оплатить квитанцию <br>
                        или подать показания
                    </p>
                </a>
            </li>
            <li class="about-top__item about-top__item--2 info-card">
                <a href="#" class="info-card__wrapper">
                    <div class="info-card__icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#cleaner"></use>
                        </svg>
                    </div>
                    <p class="info-card__descr">
                        Перейти в сервис <br>
                        и выбрать услугу
                    </p>
                </a>
            </li>
            <li class="about-top__item about-top__item--3 info-card">
                <a href="#" class="info-card__wrapper">
                    <div class="info-card__icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#edit"></use>
                        </svg>
                    </div>
                    <p class="info-card__descr">
                        Оставить заявку <br>
                        по любому вопросу
                    </p>
                </a>
            </li>
        </ul>
        <div class="about__body about-body">
            <p class="about-body__descr text-32">
                Мы — управляющая компания «М-Проперти».
                Делаем социальную среду <span>комфортной</span>,
                приходим на помощь жителям и упрощаем
                процессы оплаты ЖКХ
            </p>
            <div class="about-body__info">
                <span>
                    200 000+
                </span>
                <span>
                    квадратных метров <br>
                    обслуживаем ежедневно
                </span>
            </div>
        </div>
        <ul class="about__bottom about-bottom list-reset">
            <li class="about-bottom__item info-card-two">
                <div class="info-card-two__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#settings"></use>
                    </svg>
                </div>
                <p class="info-card-two__descr">
                    Cледим за техническим состоянием
                    общедомового имущества и сложных инженерных систем
                </p>
            </li>
            <li class="about-bottom__item info-card-two">
                <div class="info-card-two__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#wallet"></use>
                    </svg>
                </div>
                <p class="info-card-two__descr">
                    Контролируем расходы, оптимизируем бюджеты. Предоставляем финансовые
                    отчёты — всё прозрачно
                </p>
            </li>
            <li class="about-bottom__item info-card-two">
                <div class="info-card-two__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#send"></use>
                    </svg>
                </div>
                <p class="info-card-two__descr">
                    Показываем и рассказываем о нашей работе в социальных сетях, публикуем ежемесячные отчёты. Всегда
                    на связи с нашими жителями
                </p>
            </li>
        </ul>
    </div>
</section>
