<section class="app-info">
    <div class="container">
        <div class="app-info__body">
            <div class="app-info__left">
                <img loading="lazy" src="./img/card-info.png" class="app-info__card" class="" alt="">
                <picture>
                    <source srcset="./img/phone.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone.png" class="app-info__phone" alt="ПРОДОМ">
                </picture>
            </div>
            <div class="app-info__right">
                <h2 class="app-info__text text-32">
                    Жители пользуются <span>приложением «Продом»,</span>
                    если нужно подать показания, оплатить счета
                    или оставить обращение в УК
                </h2>
                <div class="app-info__bottom">
                    <button type="button" class="btn btn-reset btn-primary app-info__btn">Попробовать
                        приложение</button>
                    <div class="app-info__bubble-speech">
                        <span class="bubble-speech">
                            Еще можно заказать пропуск, оплатить квитанции и почитать последние новости. Удобно!
                        </span>
                        <picture>
                            <source srcset="./img/avatar-decor.webp" type="image/webp">
                            <img loading="lazy" src="./img/avatar-decor.png" width="123" height="123" alt="Аватар">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
