<section class="feedback">
    <div class="container">
        <div class="feedback__container">
            <h2 class="feedback__title text-32">
                Есть вопрос? <span>Оставьте заявку,</span>
                постараемся помочь как можно скорее
            </h2>
            <form action="#" class="feedback__form feedback-form">
                <label class="feedback-form__label label-primary">
                    <span>Как вас зовут?</span>
                    <input type="text" name="Имя"
                        class="feedback-form__input feedback-form__input--name input-reset label-primary__input"
                        placeholder="Имя">
                </label>
                <label class="feedback-form__label label-primary">
                    <span>Ваш номер телефона</span>
                    <input type="tel" name="Номер телефона"
                        class="feedback-form__input feedback-form__input--tel input-reset label-primary__input"
                        placeholder="+7">
                </label>
                <label class="feedback-form__label label-primary">
                    <span>Опишите вашу проблему</span>
                    <textarea class="feedback-form__textarea input-reset label-primary__textarea"
                        placeholder="Например: ЖК Прайм Тайм, 3 подъезд, сломана ручка входной двери"></textarea>
                </label>
                <button type="submit" class="btn btn-reset btn-primary feedback-form__btn">Отправить</button>
                <p class="feedback-form__warning">
                    Нажимая кнопку «Отправить» вы подтверждаете своё согласие на обработку персональных данных
                </p>
            </form>
        </div>
        <picture>
            <source srcset="./img/house.webp" type="image/webp">
            <img loading="lazy" class="feedback__image" src="./img/house.png" alt="">
        </picture>
    </div>
</section>
