<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>@title</title>
    <link rel="preload" href="fonts/ManropeRegular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/ManropeMedium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/ManropeSemibold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/ManropeBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/ManropeExtraBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/RalewayMedium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/RalewaySemiBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/main.js"></script>
</head>
