<header class="header header--two">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo header__logo--img">
                <img src="https://cms.prodom.ai/uploads/logo/2/e/2ea300ad13450fd893b437a569c79450.svg"
                    alt="продом.комфорт">
            </a>
            <a href="#" class="header__logo">
                <img src="https://cms.prodom.ai/uploads/logo/2/e/2ea300ad13450fd893b437a569c79450.svg"
                    alt="продом.комфорт">
                <span>продом.комфорт</span>
            </a>
            <a href="#" class="header__logo header__logo--text">
                <span>продом.комфорт</span>
            </a>
            <nav class="header__nav nav" data-menu>
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Сервис</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Информация</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__actions">
                <a href="tel:+74994447085" class="header__tel">
                    <svg>
                        <use xlink:href="img/sprite.svg#phone"></use>
                    </svg>
                    <span>+7 499 444-70-85</span>
                </a>
                <a href="#" class="btn btn-reset btn-secondary header__btn" data-da=".header__nav,768,3">
                    Личный кабинет
                </a>
            </div>
            <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
