<section class="hero">
    <div class="container">
        <div class="hero__container">
            <picture>
                <source srcset="./img/hero-bg.webp" type="image/webp">
                <img loading="lazy" src="./img/hero-bg.png" class="hero__image" width="" height="" alt="Картинка">
            </picture>
            <div class="hero__content">
                <div class="hero__subtitle subtitle">
                    УК М-Проперти
                </div>
                <h2 class="hero__title">
                    добро
                    пожаловать
                    домой.
                </h2>
                <p class="hero__descr">
                    Это сайт управляющей компании «М-Проперти».
                    Читайте свежие новости, оплачивайте квитанции, оставляйте обращения. Мы на связи.
                </p>
                <div class="hero__bubble-speech">
                    <span class="bubble-speech">
                        Рядом с вами
                        круглосуточно
                    </span>
                    <picture>
                        <source srcset="./img/avatars-decor.webp" type="image/webp">
                        <img loading="lazy" src="./img/avatars-decor.png" width="117" height="87" alt="Аватары">
                    </picture>
                </div>
            </div>

        </div>
    </div>
</section>
