<section class="news">
    <div class="container">
        <div class="news__wrapper">
            <h2 class="news__title text-32">
                Публикуем свежие новости: <span>фильтруйте</span>
                и читайте только то, что вам интересно
            </h2>
            <div class="swiper news__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="news-card">
                            <a href="#" class="news-card__wrapper">
                                <h3 class="news-card__title">
                                    Заголовок новости
                                </h3>
                                <p class="news-card__descr">
                                    Сообщение о проведении внеочередного собрания,
                                    г. Москва, Золоторожский вал, дом 8
                                </p>
                                <div class="news-card__bottom">
                                    <time class="news-card__time" datetime="2022-12-13">13.12.2022</time>
                                    <div class="news-card__type subtitle">сервисы</div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="news-card">
                            <a href="#" class="news-card__wrapper">
                                <h3 class="news-card__title">
                                    Заголовок новости
                                </h3>
                                <p class="news-card__descr">
                                    Сообщение о проведении внеочередного собрания,
                                    г. Москва, Золоторожский вал, дом 8
                                </p>
                                <div class="news-card__bottom">
                                    <time class="news-card__time" datetime="2022-12-13">13.12.2022</time>
                                    <div class="news-card__type subtitle">сервисы</div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="news-card">
                            <a href="#" class="news-card__wrapper">
                                <h3 class="news-card__title">
                                    Заголовок новости
                                </h3>
                                <p class="news-card__descr">
                                    Сообщение о проведении внеочередного собрания,
                                    г. Москва, Золоторожский вал, дом 8
                                    Сообщение о проведении внеочередного собрания,
                                    г. Москва, Золоторожский вал, дом 8
                                </p>
                                <div class="news-card__bottom">
                                    <time class="news-card__time" datetime="2022-12-13">13.12.2022</time>
                                    <div class="news-card__type subtitle">сервисы</div>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="news-card">
                            <a href="#" class="news-card__wrapper">
                                <h3 class="news-card__title">
                                    Заголовок новости
                                </h3>
                                <p class="news-card__descr">
                                    Сообщение о проведении внеочередного собрания,
                                    г. Москва, Золоторожский вал, дом 8
                                    Сообщение о проведении внеочередного собрания,
                                    г. Москва, Золоторожский вал, дом 8
                                </p>
                                <div class="news-card__bottom">
                                    <time class="news-card__time" datetime="2022-12-13">13.12.2022</time>
                                    <div class="news-card__type subtitle">сервисы</div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="news__controls">
                <button type="button" class="btn btn-reset btn-primary news__more">
                    Ко всем новостям
                </button>
                <div class="news__navigation navigation-primary">
                    <button type="button"
                        class="btn btn-reset navigation-primary__arrow navigation-primary__arrow-prev">
                        <svg>
                            <use xlink:href="img/sprite.svg#circle-arrow"></use>
                        </svg>
                    </button>
                    <button type="button"
                        class="btn btn-reset navigation-primary__arrow navigation-primary__arrow-next">
                        <svg>
                            <use xlink:href="img/sprite.svg#circle-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
