.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn {
    transition: color $transitionSpeed $transitionFunction,
        background-color $transitionSpeed $transitionFunction,
        border $transitionSpeed $transitionFunction;
}


.btn-primary {
    background-color: var(--blue);
    color: var(--white);

    height: 48px;
    padding: 0 28px;
    border-radius: 10px;

    font-size: 14px;
    line-height: math.div(22, 14);
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;

    @media (min-width:$smallTablet-min) {
        &:hover {
            background-color: var(--blue-dark);
        }
    }

    @media (max-width:$tablet-max) {
        height: 42px;
        padding: 0 24px;
        font-size: 12px;
    }
}
