.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #fff;
    padding: 0;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

    &:focus {
        outline: none;
    }
}

textarea.input-reset {
    resize: none;
}


.label-primary {
    span {
        color: #292D32;
        font-size: 16px;
        line-height: math.div(22, 16);
        display: block;
        margin-bottom: 16px;

        @media (max-width:$tablet-max) {
            margin-bottom: 8px;
            font-size: 14px;
        }
    }

    &__input {
        width: 100%;
        height: 48px;
        background: var(--white);
        color: #292D32;
        border: 1px solid #CCD9FF;
        border-radius: 12px;
        padding: 0 24px;

        font-size: 16px;
        font-weight: 400;
        line-height: 100%;

        &::placeholder {
            color: #CCD9FF;
        }

        @media (max-width:$tablet-max) {
            padding: 0 16px;
            font-size: 14px;
        }
    }

    &__textarea {
        width: 100%;
        --height: 262px;
        min-height: var(--height);
        max-height: var(--height);

        padding: 20px 30px;

        background: var(--white);
        color: var(--dark);
        border: 1px solid #CCD9FF;
        border-radius: 10px;

        font-size: 16px;
        font-weight: 400;
        line-height: 100%;

        &::placeholder {
            color: #CCD9FF;
        }

        @media (max-width:$tablet-max) {
            padding: 16px;
            --height: 180px;
            font-size: 14px;
        }

        @media (max-width:$smallTablet-max) {
            --height: 140px;
        }
    }

    .just-validate-error-label {
        margin-top: 5px;
        margin-left: 24px;
        color: var(--blue) !important; // need hack :(

        font-size: 12px;
        line-height: math.div(12, 12);

        @media (max-width:$tablet-max) {
            margin-left: 16px;
        }
    }
}
