.radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
        position: relative;
        cursor: pointer;
    }

    &__input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;

        &:focus+.radio__label:before {}

        &:checked+.radio__label:before {
            border: 1px solid var(--blue);
        }

        &:checked+.radio__label:after {
            transform: scale(1);
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &:before {
            content: "";
            align-self: flex-start;
            width: 22px;
            height: 22px;
            flex: 0 0 22px;
            border-radius: 50%;
            border: 1px solid #292D32;
            transition: border $transitionSpeed $transitionFunction;
        }

        &:after {
            content: "";
            transition: all 0.3s ease 0s;
            transform: scale(0);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: var(--blue);
            position: absolute;
            left: 5px;
            top: 5px;
        }
    }

    &__text {
        margin-left: 13px;
        color: var(--dark);
        font-size: 16px;
        line-height: math.div(22, 16);
    }
}
