.about {
    margin-top: 32px;

    &__title {}

    .container {
        @media (max-width:$tablet-max) {
            padding: 0;
        }
    }

    &__content {
        margin-top: 32px;
        background-color: #F9F9fb;
        border-radius: 24px;
        padding: 56px 109px;
        color: #292D32;
        font-size: 16px;
        line-height: math.div(23, 16);

        p {
            &:not(:last-child) {
                margin-bottom: 22px;

                @media (max-width:$smallTablet-max) {
                    margin-bottom: 16px;
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            &:not(:last-child) {
                margin-bottom: 22px;

                @media (max-width:$smallTablet-max) {
                    margin-bottom: 16px;
                }
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }

        @media (max-width:$tablet-max) {
            margin-top: 24px;
            padding: 32px;
            border-radius: 16px;
        }

        @media (max-width:$smallTablet-max) {
            font-size: 14px;
            padding: 32px 24px;
        }
    }
}
