.news-page {
    margin: 32px 0;

    &__time {
        margin-top: 16px;
        font-size: 16px;
        line-height: math.div(22, 16);
        display: block;

        @media (max-width:$tablet-max) {
            font-size: 14px;
        }
    }

    &__content {
        margin-top: 56px;

        color: #292D32;
        font-size: 16px;
        line-height: math.div(26, 16);

        p {
            &:not(:last-child) {
                margin-bottom: 22px;

                @media (max-width:$smallTablet-max) {
                    margin-bottom: 16px;
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            &:not(:last-child) {
                margin-bottom: 22px;

                @media (max-width:$smallTablet-max) {
                    margin-bottom: 16px;
                }
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }

        ol {
            margin: 5px 0;

            &:not(:last-child) {
                margin-bottom: 22px;

                @media (max-width:$smallTablet-max) {
                    margin-bottom: 16px;
                }
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }

        div {
            &:not(:last-child) {
                margin-bottom: 22px;

                @media (max-width:$smallTablet-max) {
                    margin-bottom: 16px;
                }
            }
        }

        a {
            color: var(--blue);
            text-decoration: underline;
            transition: color $transitionSpeed $transitionFunction;

            &:hover {
                color: var(--blue-dark);
            }

            &:not(:last-child) {
                margin-bottom: 22px;

                @media (max-width:$smallTablet-max) {
                    margin-bottom: 16px;
                }
            }
        }

        @media (max-width:$tablet-max) {
            margin-top: 24px;
            font-size: 13px;
        }
    }
}
