<section class="contacts-home">
    <div class="container">
        <div class="contacts-home__wrapper">
            <div class="contacts-home__top">
                <div class="contacts-home__gallery">
                    <div class="swiper gallery-slider">
                        <div class="swiper-wrapper">
                            <a href="#" class="swiper-slide">
                                <picture>
                                    <source srcset="./img/gallery-1.webp" type="image/webp">
                                    <img loading="lazy" src="./img/gallery-1.jpg" width="550" height="320"
                                        alt="Картинка">
                                </picture>
                            </a>
                            <a href="#" class="swiper-slide">
                                <picture>
                                    <source srcset="./img/gallery-2.webp" type="image/webp">
                                    <img loading="lazy" src="./img/gallery-2.jpg" width="550" height="320"
                                        alt="Картинка">
                                </picture>
                            </a>
                            <a href="#" class="swiper-slide">
                                <picture>
                                    <source srcset="./img/gallery-3.webp" type="image/webp">
                                    <img loading="lazy" src="./img/gallery-3.jpg" width="550" height="320"
                                        alt="Картинка">
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contacts-home__info contacts-home-info">
                    <div class="contacts-home-info__top">
                        <h3 class="contacts-home-info__title">
                            ЖК Реутов
                        </h3>
                        <a href="#" class="contacts-home-info__link">
                            <div class="contacts-home-info__link-icon">
                                <svg>
                                    <use xlink:href="img/sprite.svg#tg"></use>
                                </svg>
                            </div>
                            <span>Чат жителей</span>
                        </a>
                    </div>
                    <a href="#" class="contacts-home-info__maps">
                        <picture>
                            <source srcset="./img/map.webp" type="image/webp">
                            <img loading="lazy" src="./img/map.png" width="74" height="85.5" alt="Проспект Мира 22,
                              Московская область г. Реутов">
                        </picture>
                        <span>
                            Проспект Мира 22, <br>
                            Московская область <br>
                            г. Реутов
                        </span>
                    </a>
                    <a href="#" class="contacts-home-info__more">
                        Подробнее →
                    </a>
                </div>
                <div class="contacts-home__navigation navigation-primary">
                    <button type="button"
                        class="btn btn-reset navigation-primary__arrow navigation-primary__arrow-prev">
                        <svg>
                            <use xlink:href="img/sprite.svg#circle-arrow"></use>
                        </svg>
                    </button>
                    <button type="button"
                        class="btn btn-reset navigation-primary__arrow navigation-primary__arrow-next">
                        <svg>
                            <use xlink:href="img/sprite.svg#circle-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <h2 class="contacts-home__title text-32">
                Нам <span>доверяют</span> известные ЖК,
                бизнес-центры и апарт-комплексы
                Москвы и Московской области
            </h2>
        </div>
    </div>
</section>
