<section class="hero-home hero-home--two">
    <div class="container">
        <div class="hero-home__container">
            <div class="hero-home__content">
                <div class="hero-home__text">
                <h2 class="hero-home__title">
                    Сервис
                    имеет
                    значение
                </h2>
                <p class="hero-home__descr">
                    Это сайт управляющей компании &laquo;М-Проперти&raquo;.
                    Читайте свежие новости, оплачивайте квитанции, оставляйте обращения. Мы&nbsp;на&nbsp;связи.
                </p>
            </div>
                <a href="#" class="hero-home__map">
                  <div>
                    <picture>
                        <source srcset="./img/map-2.webp" type="image/webp">
                        <img loading="lazy" src="./img/map-2.jpg" width="135" height="102" alt="Карта">
                    </picture>
                    <img loading="lazy" src="img/location-two.svg" alt="">
                    <span>Дома на карте</span>
                  </div>
                </a>
            </div>

        </div>
    </div>
</section>
