<section class="hero-home hero-home--two">
    <div class="container">
        <div class="hero-home__container">
            <div class="hero-home__content">
                <div class="hero-home__subtitle subtitle-secondary">
                    УК М-Проперти
                </div>
                <h2 class="hero-home__title">
                    добро
                    пожаловать
                    домой.
                </h2>
                <p class="hero-home__descr">
                    Это сайт управляющей компании «М-Проперти».
                    Читайте свежие новости, оплачивайте квитанции, оставляйте обращения. Мы на связи.
                </p>
                <div class="hero-home__bottom">
                    <div class="hero-home__search select-search">
                        <select class="select-search__body" name="Поиск ЖК" aria-label="Поиск ЖК">
                            <option value="" placeholder>Найти ЖК по названию, адресу, застройщику</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                        </select>
                        <div class="select-search__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#search"></use>
                            </svg>
                        </div>
                    </div>
                    <a href="#" class="hero-home__map">
                        <picture>
                            <source srcset="./img/map-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/map-2.jpg" width="135" height="102" alt="Карта">
                        </picture>
                        <img loading="lazy" src="img/location-two.svg" alt="">
                        <span>Найти на карте</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
