<section class="useful-home">
    <div class="container">
        <div class="useful-home__container">
            <h2 class="useful-home__title text-32">
                Полезные <span>сервисы и услуги</span> <br>
                на особых условиях от проверенных партнёров
            </h2>
            <div class="useful-home__items">
                <button type="button" class="useful-home__item btn btn-reset video-primary">
                    <video class="video-primary__body" autoplay muted loop>
                        <source src="video.webm" type="video/webm">
                    </video>
                    <div class="video-primary__btn">
                        <svg class="video-primary__btn--stop">
                            <use xlink:href="img/sprite.svg#play"></use>
                        </svg>
                        <svg class="video-primary__btn--play">
                            <use xlink:href="img/sprite.svg#play-two"></use>
                        </svg>
                    </div>
                    <span class="video-primary__subtitle">
                        Клининг
                    </span>
                </button>
                <a href="#" class="useful-home__item useful-home__item--row-1">
                    <picture>
                        <source srcset="./img/useful-2.webp" type="image/webp">
                        <img loading="lazy" src="./img/useful-2.jpg" alt="Ремонт
                          под ключ">
                    </picture>
                    <span>
                        Ремонт
                        под ключ
                    </span>
                </a>
                <a href="#" class="useful-home__item useful-home__item--row-1">
                    <picture>
                        <source srcset="./img/useful-3.webp" type="image/webp">
                        <img loading="lazy" src="./img/useful-3.jpg" alt="Согласование
                        перепланировки">
                    </picture>
                    <span>
                        Согласование
                        перепланировки
                    </span>
                </a>
                <a href="#" class="useful-home__item useful-home__item--row-2">
                    <picture>
                        <source srcset="./img/useful-4.webp" type="image/webp">
                        <img loading="lazy" src="./img/useful-4.jpg" alt="Цветы
                        по подписке">
                    </picture>
                    <span>
                        Цветы
                        по подписке
                    </span>
                </a>
                <a href="#" class="useful-home__item useful-home__item--row-2">
                    <span>
                        Посмотреть все
                        предложения
                    </span>
                </a>
            </div>
            <h3 class="useful-home__subtitle">
                Если вы остались недовольны качеством предоставляемой <br> услуги — сообщите нам об этом
            </h3>
        </div>
    </div>
</section>
