.title {}

.subtitle {
    @include fontRaleway;
    color: var(--blue);
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;

    background-color: var(--white);
    border-radius: 29px;

    padding: 7px 18px;
}

.subtitle-secondary {
    @include fontRaleway;
    color: var(--blue);
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;

    background-color: #eaeefa;
    border-radius: 29px;

    padding: 7px 18px;
}

.bubble-speech {
    color: #292D32;

    font-size: 12px;
    line-height: math.div(16, 12);
    font-weight: 500;
    padding: 11px 28px;

    background-color: var(--white);

    border-radius: 29px;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 5px;
        right: 17px;
        transform: translateY(100%);
        background-image: url('../img/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 23px 12px;
        display: block;
        width: 23px;
        height: 12px;
    }
}


.text-32 {
    @include adaptiveValue("font-size", 32, 18);
    line-height: math.div(42, 32);
    font-weight: 500;
    @include fontRaleway;
    color: var(--dark);

    span {
        color: var(--blue);
    }
}


.navigation-primary {
    &__arrow {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        svg {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            fill: var(--blue);
        }

        &:not(:last-child) {
            margin-right: 8px;
        }

        &.swiper-button-disabled {
            pointer-events: none;

            svg {
                fill: #B5BCE3;
            }
        }

        @media (max-width:$smallTablet-max) {
            width: 35px;
            height: 35px;
        }
    }

    &__arrow-prev {
        svg {
            transform: rotate(180deg);
        }
    }

    &__arrow-next {}
}


.text-center {
    text-align: center;
}
