// main
$fontFamily: "Manrope";
$fontSize: 14;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1296;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff; // Цвет body по умолчаниюу
$mainColor: #000; // Цвет шрифта по умолчанию

:root {

    // colors
    --black: #000;
    --dark: #212121;
    --white: #fff;
    --blue: #3757ff;
    --blue-dark: #2d4ae0;
    --melrose: #9eb3ff;

    // z-index
    --index-1: 1;
    --index-2: 2;
    --index-3: 3;
    --index-4: 4;
    --index-5: 5;
    --index-max: 10;
}



// others vars
$transitionSpeed: 0.3s;
$transitionFunction: ease-in-out;

// ================================================================================================

// break points
$desktop: $containerWidth+px;
$desktop-min: ($containerWidth + 1)+px;

$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;



// ================================================================================================
